<!--
  -- /static/index.html
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zarco - Software Engineer</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/static/styles.css">
  <!-- Favicon -->
  <link rel="icon" href="/static/assets/favicon_white.ico" type="image/x-icon"
  sizes="32x32">
  <!-- Three.js Library -->
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/"
      }
    }
  </script>
  <!-- JavaScript -->
  <script src="/static/main.js" type="module"></script>
</head>

<body>
  <!-- Main -->
  <!--
  <header>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </nav>
  </header>
  -->

  <main>
    <section class="content">

      <section class="profile_wrapper">
        <div class="profile_left">
          <img src="/static/assets/dot-circle-white.webp"
          alt="Dot Matrix Circle" loading="lazy" height="95" width="150"/>
        </div>
        <div class="profile_right">
          <h1>Gael Zarco</h1>
          <p>Software Engineer - Computer Science Student</p>
          <a href="/static/GAEL_ZARCO.pdf" target="_blank">Resume</a>
        </div>
      </section>

      <section class="about_wrapper">
        <h2>About</h2>
        <p>
          I enjoy programming minimalistic and performant software. Experienced 
          in web development and IT support. Seeking part-time and internship
          opportunities while pursuing a bachelor's in computer science.
        </p>
      </section>

      <section class="generic_wrapper">
        <h2>Work Experience</h2>

        <section class="xp_item_wrapper">
          <div class="xp_item">
            <div class="xp_left">
              <p>2024 - 2024</p>
            </div>
            <div class="xp_right">
              <a href="https://702pros.com/" target="_blank">
                Web Developer - 702 Pros
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Created full-stack web applications in a cross-functional team
                of designers and developers. Keen focus on reducing external
                dependency usage and developing applications using minimal
                tools. Met tight deadlines and project milestones while
                simultaneously incorporating client feedback.
              </p>
              <ul class="xp_tech">
                <li>PHP</li>
                <li>• DNS</li>
                <li>• Apache</li>
                <li>• MySQL</li>
                <li>• WordPress</li>
              </ul>
            </div>
          </div>

          <div class="xp_item">
            <div class="xp_left">
              <p>2023 - 2024</p>
            </div>
            <div class="xp_right">
              <a href="https://teamtechsolution.com/en/" target="_blank">
                IT Technician - Team Tech Solutions
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Worked to provide industry leading IT support to large
                healthcare clinics and consumer markets across the US.
                Reported directly to Director of Operations to track ongoing
                projects and discuss objectives to improve client feedback and
                technical support efficiency.
              </p>
              <ul class="xp_tech">
                <li>Azure</li>
                <li>• SSH</li>
                <li>• SFTP</li>
                <li>• Meraki</li>
                <li>• Networking</li>
              </ul>
            </div>
          </div>

          <div class="xp_item">
            <div class="xp_left">
              <p>2023 - 2023</p>
            </div>
            <div class="xp_right">
              <a href="https://productos-ai.com/en/" target="_blank">
                Software Engineer Intern - Productos-AI
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Contributed to the development of front-end functionality,
                efficiency, and security. Improved internal API response-times
                and participated in an Agile team environment.
              </p>
              <ul class="xp_tech">
                <li>React</li>
                <li>• AWS</li>
                <li>• Javascipt</li>
                <li>• HTML</li>
                <li>• CSS</li>
              </ul>
            </div>
          </div>
        </section>
      </section>

      <section class="generic_wrapper">
        <h2>Side Projects</h2>

        <section class="xp_item_wrapper">
          <div class="xp_item">
            <div class="xp_left">
              <p>Ongoing</p>
            </div>
            <div class="xp_right">
              <a href="https://github.com/gaelzarco/rgx" target="_blank">
                RGX 
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Software rasterizer that parses .obj files and translates
                triangle and texture coordinates into a fully rendered raster. 
                Engineered from the ground-up.
              </p>
              <ul class="xp_tech">
                <li>Rust</li>
              </ul>
            </div>
          </div>

          <div class="xp_item">
            <div class="xp_left">
              <p>2024</p>
            </div>
            <div class="xp_right">
              <a href="https://github.com/gaelzarco/space" target="_blank">
                Space
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Web app to chat with friends in real-time. Features real-time
                notifications and messaging.
              </p>
              <ul class="xp_tech">
                <li>TypeScript</li>
                <li>• Next.js</li>
                <li>• TailwindCSS</li>
                <li>• Webhooks</li>
                <li>• Redis</li>
              </ul>
            </div>
          </div>

          <div class="xp_item">
            <div class="xp_left">
              <p>2023</p>
            </div>
            <div class="xp_right">
              <a href="https://github.com/gaelzarco/moxie" target="_blank">
                Moxie
                <img class="arrow" src="/static/icons/arrow-top-right.svg"
                alt="Arrow"/>
              </a>
              <p>
                Social media web app that combines a clean user interface with
                fluid animations.
              </p>
              <ul class="xp_tech">
                <li>TypeScript</li>
                <li>• Next.js</li>
                <li>• TailwindCSS</li>
                <li>• tRPC</li>
                <li>• MySQL</li>
              </ul>
            </div>
          </div>

        </section>
      </section>

    </section>
  </main>

  <!--
  <footer>
  </footer>
  -->
</body>

</html>
