/*
 * /static/styles.css
*/

/* Global Variables */
@font-face {
  font-family: 'Geist';
  src: url('fonts/Geist-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --background-black: #000000;
  --header-white: #FFFFFF;
  --body-gray: #A3A3A3;
  --body-gray-secondary: #7F7F7F;

  /* Line-height */
  --lh: 1.35;
}

/* Tag Styles */
body {
  font-family: "SF Pro", "Inter", -apple-system, Geist, sans-serif;
  background-color: var(--background-black);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: var(--header-white);
  margin: 0;
}

h1 {
  font-size: 1.35em;
  font-weight: 400;
}

h2 {
  font-size: 0.95em;
  font-weight: 300;
}

p,
li,
a {
  font-size: 0.85em;
  font-weight: 300;
  margin: 0;
}

h1,
h2,
p,
li,
a {
  line-height: var(--lh);
}

p,
li {
  color: var(--body-gray);
}

a {
  color: var(--body-gray-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}
 ul {
   margin: 0;
 }

/* Class Styles */
.content {
  max-width: 500px;
  width: 100%;
  padding: 3.6em 1em;
}

.profile_wrapper {
  display: flex;
  align-items: center;
  min-height: 200px;
}

.profile_left {
  padding: 0px 15px;
}

.profile_left img {
  max-height: 100px;
}
